<ion-view  view-title="Quiz">
    <ion-content>
        <div class="card"><br>
            <div class="item item-divider">
                <h3>Artwork Fun</h3>
            </div>
            <div class="item item-text-wrap">
                <p>Complete the simple multiple choice questions and see the result.</p>
            </div>

             <ion-list>
                    <ion-item class="item-avatar" ng-repeat="Q in questions" type="item-text-wrap">
                        <h2>{{Q.text}}</h2>
                    </ion-item>
             </ion-list>

            <div class="item item-divider">
                <p class="text-center"><a class="button button-positive center" href="#/tab/question/0">START</a></p>
            </div>
        </div>
    </ion-content>
</ion-view>
