<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="Home" class="home_screen_bg">
  <ion-content class="padding">
    <center>
                <font size="5"><b>Philly Art Museum</b></font>
                <hr style="visibility:hidden;" / >
                <font size="6" color="blue" font-style="italic"><b>Hackaton</b></font>
    </center>
  </ion-content>
</ion-view>


