<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="Home">
  <ion-content class="padding">
            <div style="background-image: url(img/philadelphia-museum-of-art-east-steps2-900-600vp-587x0.jpg);
                                    background-size: cover;
                                    width:  350px;
                                    height: 600px;
                                    align:"middle"
                                   ">
            <h1><center>Philly Art Museum<br>Hackaton</center></h1>
<!--             <ion-nav-buttons>
                <a class="button icon-right ion-plus-round" href="#/tab/chats">Let's go</a>
            </ion-nav-buttons>  -->       
     </div>
     
  </ion-content>
</ion-view>


