<view title="'The Quiz'">
    <!--lets start with a simple list first of all!-->
    <content has-header="true" has-tabs="true">
        <div class="card">

            <div class="item item-divider">
                <h3>History Quiz</h3>
            </div>
            <div class="item item-text-wrap">
                <p>Complete the simple multiple choice questions and see the result.</p>
            </div>
            <div class="item item-divider">
                <p class="text-center"><a class="button button-positive center" href="#/tab/question/0">START</a></p>
            </div>
        </div>
    </content>
</view>
