<ion-view view-title="Gallery">
  <ion-content>
    <h1>{{gallery.title}}</h1>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="g in gallery.objects" type="item-text-wrap" href="/#/galleries/{{g.objectid}}">
        <img ng-src="img/thumbnails/{{g.imageFilename}}">
        <h2>{{g.titleOfWork}}</h2>
        <p>{{g.materials}}</p>
        <p>{{g.date}}</p>
        <p>{{g.creditLine}}</p>
        <p>{{g.galleryLocation}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          yay
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
