<ion-view view-title="Galleries">
  <ion-content padding="true">
    <div class="card">
      <div class="item item-text-wrap">
        <h2>{{item.titleOfWork1}}</h2>
        <img ng-src="img/thumbnails/{{item.imageFilename}}" alt="">
        <p>{{item.materials}}</p>
        <p>{{item.medium}}</p>
        <p>{{item.date}}</p>
        <div class="button-bar">
          <a class="button">yay</a>
          <a class="button">meh</a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="">
  <button class="button button-large button-block button-primary">
    Have a question?
  </button>
</ion-footer-bar>
